:root {
  /* Primary Colors */
  --color-bg: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-text: #1F2937;
  --color-text-muted: #6B7280;
  --color-border: #E5E7EB;

  /* Accent Colors */
  --color-primary: #3B82F6;
  --color-secondary: #14B8A6;

  /* Support Colors */
  --color-dark: #111827;
  --color-success: #22C55E;
  --color-error: #EF4444;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--color-bg);
    color: var(--color-text);
}

